body{
    background-color: rgb(83, 4, 4);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    padding: 60;
}

.caixa{
    background-color: rgb(112, 4, 0);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(190, 190, 141);

}

input{
    padding: 10px;
    width: 70%;
    margin-right: 10px;
}

button{
    padding: 10px;
    cursor:pointer;
}

ul{
    list-style: none;
    padding: 0%;
    margin-top: 20px;
}

li{
    padding: 10px;
    background-color: aliceblue;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

li button{
    background-color: darkmagenta;
    color:rgb(190, 190, 141);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}